body {
    margin: 24px;
    background: #0f0f0f;
    color: #505050;
}

header h1 {
    color: #fff;
    text-align: center;
    margin: 60px auto;
    font-size: 40px;
    font-weight: 400;
}

/*Styling for Carousel*/
.carousel {
    width: 40%;
    margin: 20px auto;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 5px 5px 10px grey;
  }

  /*Styling for images in Carousel*/
  img {
    height:300px;
    width: 100%;
    }

  .header2 {
        text-align: center;
        text-decoration: underline;
    }

p {
    text-align: center;
    color: grey;
    font-weight: 300;
    margin-top: 10px;
    }

    a {
      color: #fff;
      font-size: 15px;
      text-transform: uppercase;
      margin-bottom: 0;
      padding-bottom: 0;
    }

/*Styling for environment containing images*/
.recipe-item {
    display: black;
    margin: 0 0 24px 0;
    padding: 12px;
    background: #1e1e1e;
}

/*Styling movement when hovering*/
.recipe-item:hover {
    transform: translateY(-6px);
    transition: all 200ms;
}

/*Styling for images in table*/
.recipe-item > img {
    display: block;
    width: 100%;
    margin: 0 0 35px 0;
}

/*Styling of text*/
.recipe-item h2 {
    text-align: center;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 0;
    padding-bottom: 0;
}

/*Set column layout and width*/
.recipe {
    display: table;
    table-layout: fixed; 
    width: 100%;
  }

.recipe2 {
    display: table;
    table-layout: fixed; 
    width: 100%;
  }

.recipe3 {
    display: table;
    table-layout: fixed; 
    width: 100%;
  }
  
  /*Set Position of Elements*/
.recipe-item {
    display: table-cell;
    border: 1px solid;
  }

  /*Style and position of Images*/
  .recimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

  /*Resizes Carousel on smaller screens*/
  @media screen and (max-width: 600px) {
  .carousel {
    width: 100%;
    margin: 20px auto;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 5px 5px 10px grey;
  }
}

  /*Resizes Images in table for Smaller Screens*/
  @media screen and (max-width: 600px) {
    .recipe-item {
        width: 100%;
        display: block;
    }
  }

  /*Styling for forms*/
    form {
        text-align: center;
        color: #ffffff;
        border: 5px solid gray;
        
      }
